# Variables used on all platforms
EARTHDATA_LOGIN=
EARTHDATA_PASSWORD=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
AWS_DEFAULT_REGION=
CDSE_LOGIN=
CDSE_PASSWORD=
AUS_COP_HUB_LOGIN=
AUS_COP_HUB_PASSWORD=
AUS_COP_HUB_CLIENT_ID=odata
AUS_COP_HUB_CLIENT_SECRET=
PYGSSEARCH_CONDA_ENV=/home/rtc_user/miniforge3/envs/pygssearch-env

# Variables used on NCI only
CONDA_EXE=
NCI_API_SCENE_FILE_LOCATION=/g/data/fj7/DEAnt/Sentinel-1
NCI_API_ORBIT_FILE_LOCATION=/g/data/fj7/CopHub/Sentinel-1
NCI_FILESYSTEM_FILE_LOCATION=/g/data/fj7/Copernicus/Sentinel-1/C-SAR/